<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Đăng ký tài khoản</title>

        <!-- reset css -->
        <link rel="stylesheet" href="/assets/css/reset.css" />

        <!-- font fontawesome -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />

        <!-- style css -->
        <link rel="stylesheet" href="/assets/css/styles.css" />
    </head>
    <body>
        <div class="login">
            <div class="login-content">
                <h2>Đăng ký</h2>
                <form action="" method="post">
                    <div class="row-content">
                        <i class="fa-solid fa-user"></i>
                        <input
                            type="text"
                            required
                            placeholder="Tên đăng nhập"
                        />
                    </div>
                    <div class="row-content">
                        <i class="fa-solid fa-lock"></i>
                        <input
                            type="password"
                            required
                            placeholder="Mật khẩu"
                        />
                    </div>
                    <div class="row-content">
                        <i class="fa-solid fa-lock"></i>
                        <input
                            type="password"
                            required
                            placeholder="Nhập lại mật khẩu"
                        />
                    </div>
                    <div class="submit">
                        <input type="submit" value="Đăng nhập" />
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
