<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Chi tiết sản phẩm</title>
    </head>
    <body>
        <div class="detail-product">
            <div class="header-product">
                <img
                    src="../assets/img/custom-banner-item-block-index-id-3.jpg"
                    alt=""
                />
            </div>
            <div class="content-product">
                <div class="content-column-1">
                    <div class="column-1">
                        <img src="" alt="" />
                    </div>
                    <div class="column-2"></div>
                </div>
                <div class="content-column-2"></div>
            </div>
        </div>
    </body>
</html>
