* {
    font-family: "Roboto", sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

html,
body {
    box-sizing: border-box;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: auto;
}

a {
    text-decoration: none;
}

/* header-row1 */

.main {
    height: 41px;
    background: #52555c;
}

.header .header-row1 {
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1px;
}

.header .column-1 a {
    color: white;
}

.header .language {
    margin-left: 22px;
    padding: 9px 12px;
    background: #52555c;
    font-size: 1.4rem;
    color: white;
    border: none;
}

.header .language option {
    background: white;
    color: black;
}

.header .header-row1 .column-2 {
    display: flex;
}

.header .Social-Network {
    display: flex;
    align-items: center;
}

.header .Social-Network img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.header .action {
    display: flex;
    align-items: center;
    margin-left: 11px;
}

.header .action .btn {
    padding: 12px 22px;
    background: #f5634a;
    border-radius: 5px;
    color: white;
    font-size: 1.4rem;
}

/* header-row2 */

.header .header-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.header .header-row2 .logo {
    width: 160px;
    object-fit: cover;
}

.header .header-row2 .column-1 {
    display: flex;
}

.header .header-row2 .column-1 .list {
    padding: 6px 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ddd;
    font-size: 1.4rem;
}

.header .header-row2 .column-1 .topnav input {
    padding: 8px 10px;
    width: 370px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #ddd;
}

.header-row2 .column-1 .topnav {
    position: relative;
}

.header-row2 .column-1 .topnav .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50px;
    height: 39.2px;
    top: 0;
    right: 0;
    color: black;
}

.header-row2 .column-1 .topnav .btn img {
    width: 22px;
}

/* header-row2 column 2 */

.header-row2 .column-2 {
    display: flex;
    gap: 36px;
}

.header-row2 .column-2 .account {
    position: relative;
}

.header-row2 .column-2 .account::after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 20px;
    width: 100px;
    bottom: -9px;
    left: -8px;
}

.header-row2 .column-2 .account .list {
    position: absolute;
    width: 150px;
    right: -69%;
    margin-top: 5px;
    display: none;
    background-color: white;
}

.header-row2 .column-2 .account:hover .list {
    display: block;
}

.header-row2 .column-2 .account ul {
    border: 1px solid #ddd;
    box-shadow: 0 0 5px #c0c0c0;
}

.header-row2 .column-2 .account li a {
    display: inline-block;
    font-size: 1.4rem;
    color: #333;
    width: 100%;
    padding: 10px 0;
}

.header-row2 .column-2 .account li a:hover {
    background: #f5f5f5;
}

.header-row2 .column-2 .Format {
    text-align: center;
}

.header-row2 .column-2 img {
    width: 28px;
    height: 28px;
}

.header-row2 .column-2 .title {
    margin-top: 6px;
    font-size: 1.4rem;
    color: #333;
}

/* header-row3 */

.header-row3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.header-row3 .link {
    color: #222;
}

.header-row3 .hotline {
    background: #fd6500;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header-row3 .hotline i {
    margin-right: 5px;
    color: white;
}

.header-row3 .hotline span {
    color: white;
}

/* header-row4 */

.header-row4 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.header-row4 .main-menu {
    display: flex;
    align-items: center;
    background: #e01222;
    padding: 10px 0px;
    border-radius: 5px 0 0 0px;
    width: 31.3%;
    text-transform: uppercase;
}

.header-row4 .main-menu i {
    margin: 0 10px;
}

.header-row4 .main-menu span,
.header-row4 .main-menu i {
    font-size: 1.6rem;
    color: white;
}

.header-row4 .nav {
    background: #52555c;
    width: 100%;
    border-radius: 0 5px 0 0;
}

.header-row4 .list {
    display: flex;
    font-size: 1.6rem;
}

.header-row4 .list .list-item {
    padding: 10px 0;
}

.header-row4 .list-item > a {
    color: white;
    padding: 8px 20px;
    text-transform: uppercase;
}

.header-row4 .list-item > a:hover {
    color: red;
}

.header-row4 .outstanding {
    position: relative;
}

.header-row4 .list-item .outstanding1 {
    position: absolute;
    width: 40px;
    height: 22px;
    background: red;
    text-align: center;
    padding-top: 3px;
    font-size: 1.2rem;
    color: white;
    top: -14px;
    left: 47px;
    clip-path: polygon(
        0% 0%,
        100% 0%,
        100% 75%,
        35% 76%,
        20% 99%,
        19% 75%,
        0% 75%
    );
}

.header-row4 .list-item .background {
    background: #f4a137;
}

.header-row4 .list-item .menu-item {
    position: absolute;
    width: 872px;
    padding: 10px;
    top: 36px;
    left: -248px;
    display: none;
    box-shadow: 2px 2px 5px gray;
    background: white;
}

.header-row4 .list-item .fix-bug {
    display: flex;
    flex-wrap: wrap;
}

.header-row4 .list-item:hover .menu-item {
    display: block;
}

.header-row4 .menu-item .product {
    margin-right: 20px;
    margin-top: 10px;
}

.header-row4 .menu-item .product li {
    margin-bottom: 10px;
}

.header-row4 .menu-item .product a {
    font-weight: 300;
    color: #151514;
    padding: 1px 8px;
}
.header-row4 .menu-item .product a:hover {
    color: red;
}

.header-row4 .menu-item .product .wstheading a {
    font-weight: 500;
    font-size: 1.6rem;
}

/* news */

.header-row4 .news {
    position: relative;
}

.header-row4 .news .news-item {
    position: absolute;
    min-width: 300px;
    top: 36px;
    box-shadow: 2px 2px 5px gray;
    display: none;
    background: white;
}

.header-row4 .news:hover .news-item {
    display: block;
}

.header-row4 .news-item ul {
    margin-top: 10px;
}

.header-row4 .news-item li {
    margin-bottom: 5px;
    padding: 0 10px;
}

.header-row4 .news-item a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    font-weight: 300;
    color: #151514;
}

.header-row4 .news-item a:hover {
    color: red;
}

/* different */

.different {
    position: relative;
}

.different .different-item {
    position: absolute;
    top: 36px;
    width: 200px;
    box-shadow: 2px 2px 5px gray;
    display: none;
    background: white;
}

.different:hover .different-item {
    display: block;
}

.different .different-item ul {
    margin-top: 10px;
}

.different .different-item li {
    padding: 0 10px;
    margin-bottom: 5px;
}

.different .different-item a {
    display: inline-block;
    width: 100%;
    padding: 5px 0;
    font-weight: 300;
    color: #151514;
}

.different .different-item a:hover {
    color: red;
}

/* content center */

.content-center .content {
    display: flex;
    min-height: 500px;
    box-shadow: 0px 0px 5px rgb(178, 177, 177);
    border-radius: 0 0 5px 5px;
}

.content-center .nav_desktop {
    width: 25%;
}

.content-center .nav_desktop > ul > li {
    padding: 0px 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.content-center .nav_desktop i {
    width: 20px;
    height: 20px;
    color: black;
}

.content-center .nav_desktop a {
    display: inline-block;
    color: #333;
    width: 100%;
    padding: 10px 0px;
    font-weight: 400;
}

.content-center .nav_desktop a:hover {
    color: red;
}

.content-center .nav_desktop ul > li {
    position: relative;
}

.nav_desktop ul > li .sub-menu {
    position: absolute;
    background-color: white;
    padding: 0px 20px;
    right: -200px;
    top: 0px;
    display: none;
}

.nav_desktop ul > li:hover > .sub-menu {
    display: block;
}

.content-center .column {
    width: 80%;
    display: flex;
    height: 450px;
}

.content-center .column1 {
    width: 70%;
}

.content-center .column1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-center .column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    gap: 10px 0;
    padding: 10px 10px 0 10px;
}

.content-center .column2 img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 5px;
}

/* container */

.container {
    position: relative;
    border: 1px solid #ddd;
    margin-top: 70px;
    padding: 40px 0;
    border-radius: 8px;
}

.container .title-pc {
    position: absolute;
    background: #e01222;
    padding: 10px 25px;
    border-radius: 20px;
    top: -27px;
    right: 50%;
    transform: translateX(50%);
}

.container .title-product-km {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
}

.container .title-product-km h2 {
    color: white;
    text-transform: uppercase;
}

.container .title-product-km .time {
    display: flex;
    align-items: center;
    margin-left: 10px;
    gap: 5px;
}

.container .title-product-km .hour {
    background: white;
    padding: 8px 5px;
    border-radius: 5px;
}

.container .title-product-km .as {
    color: white;
}

.container .banner-qc {
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
    margin-left: 15px;
    height: 140px;
}

.container .banner-qc .column-1,
.container .banner-qc .column-2 {
    width: 49%;
    object-fit: cover;
}

.container .banner-qc .column-1 img,
.container .banner-qc .column-2 img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.container .box-product {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container .box-product .media {
    display: flex;
    align-items: center;
    width: 320px;
    border-bottom: 1px solid rgb(208, 208, 208);
    margin-bottom: 10px;
}

.container .media .img {
    width: 105px;
    height: 115px;
    object-fit: cover;
}

.container .media .img img {
    width: 100%;
    height: 100%;
}

.container .media .media-body {
    padding: 10px 15px;
}

.container .media .media-body a {
    font-size: 14px;
    color: #333;
    font-weight: 300;
    line-height: 1.6;
}

.container .media .media-body a:hover {
    color: blue;
}

.container .media .media-body .price-inline {
    margin-top: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.container .media .media-body .price {
    color: #e74c3c;
    font-size: 1.6rem;
}

.container .media .media-body .price-before {
    color: gray;
    text-decoration: line-through;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(215, 215, 215);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #e01222;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bd101e;
}
